    /*body{
      background-color:aqua;
    }
    
    h1{
      color:red;
    }
    
    header h1{
      color:purple;
    }
    
    img{
      width:60%;
      height:auto;
    }
    
    nav{
      background-color:bisque;
    }
    
    #main{
      color:gray;
    }
    
    .highlight{
      color:yellow;
    }
    
    .highlight p{
      background-color:green;
    }
    
    aside p{
      background-color: green;
    }
    
    aside.highlight{
      background-color: green;
    }
    
    a{
      text-decoration: line-through;
    }
    
    nav a:hover{
      text-decoration:underline;
      font-size:1.5em;
    }
    
    p::first-letter{
      font-size:2em;
      color:firebrick;
    }*/
    
    /*Practice*/
    img{
      width:50%;
    }
    body{
      color:gray;
    }
    h1:hover{
      color:blue;
    }
    a{
      text-decoration: none;
    }
    
    /*Header is wider than article, both centered*/
    header{
      width:75%;
      margin:auto;
      background-color:beige;
    }
    article{
      width:50%;
      margin:auto;
      background-color: blanchedalmond;
    }
    
    /*Footer has a border*/
    /*Make corners of border curved*/
    footer{
      border:1px solid red;
      border-radius:20px;
      /*border-width: 1px;
      border-style: dotted;
      border-color: red;*/
    }